Hello :)
Welcome to our wedding page.</br>
<td><%= link_to 'About us', aboutus_path %></td></br>
<td><%= link_to 'About wedding', aboutwedding_path %></td></br>
<td><%= link_to 'Our wedding guestlist', guests_path %></td>
